%tr{id: "translation_key_#{I18nDashboard::Translation.digest_key(key)}"}
  %td= key
  - I18n.available_locales.each do |locale|
    %td
      = link_to '#', data: {key: key, locale: locale, toggle: "modal", target: '#add-translation'}, class: "edit-translation #{(I18nDashboard::Translation.exists?(key, locale) ? nil : 'text-error')}" do
        = t(key, locale: locale, default: humanize_key(key))
  %td
    - unless I18nDashboard::Translation.system_key?(key)
      = link_to translation_path(I18nDashboard::Translation.digest_key(key)), method: :delete, class: 'btn btn-mini btn-danger', confirm: 'Are you sure?', remote: true do
        %i.icon-trash