!!!
%html{lang: I18n.locale}
  %head
    %meta{:charset => "utf-8"}
    %title
      = content_for?(:title) ? (yield(:title) + " - I18n Dashboard") : "I18n Dashboard"
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "Fourmach.com", :name => "author"}

    = stylesheet_link_tag "i18n_dashboard/application", media: nil

    / Le HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

    = csrf_meta_tag
  %body{id: "#{controller.controller_name}-#{controller.action_name}"}
    / = render 'application/admin_menu'

    .container
      %h1= yield(:title)

      #flash
        - flash.each do |key, value|
          .alert{ :class => "alert-#{key}" }
            = value


      = yield

    = javascript_include_tag "i18n_dashboard/application"

